
/*universal selector*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    transition: all .7s;
}

/*variables*/

:root{
    --card-width: 285px;
    --active-input-border: hsl(278, 94%, 30%);
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);
    --Red-input-errors: hsl(0, 100%, 66%);
}

/*body*/

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*preview section*/

#preview{
    background-image: url(./images/bg-main-mobile.png);
    position: relative;
    height: 240px;
    background-size: cover;
    width: 100%;
}

#back-wrapper{
    position: absolute;
    top: 30px;
    left: 70px;
}

#back{
    position: relative;
    width: var(--card-width);
}

#back img{
    width: 100%;
}

#back p{
    top: 43%;
    left: 80%;
    position: absolute;
    color: var(--White);
    font-size: .7rem;
}
#front-wrapper{
    position: absolute;
    bottom: -40px;
    bottom: -40px;
    left: 15px;
}

#front{
    width: var(--card-width);
    position: relative;
}
#front img{
    width: 100%;
}
#front #logo{
    top: 7%;
    left: 7%;
    position: absolute;
    width: 60px;
}
#front #number-card{
    position: absolute;
    top: 60%;
    left: 7%;
    color: var(--White);
    font-size: 1.2rem;
    
}

#front #name-card, #front #exp-card{
    position: absolute;
    top: 80%;
    left: 7%;
    color: var(--White);
    font-size: 0.7rem;
    
}
#front #exp-card{
    position: absolute;
    left: 80%;
}

/*form*/

form{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    padding: 20px;
    margin-top: 90px;
    gap: 20px;
    max-width: 385px;
}
form>div{
    display: flex;
    gap: 5px;
    justify-content: stretch;
}

form>div label{
    width: calc(100% - ( 2 * 90px + 10px));
}

form>div label input , form > label , input[type="submit"]{
    width: 100%;
}
form #exp #container-input-exp{
    display: flex;
    gap: 5px;
}

form #exp #container-input-exp input{
    width: 90px; 
}
label{
    display: flex;
    flex-direction: column;
}
.label-name{
    color: var(--Very-dark-violet);
}

.error{
    color: var(--Red-input-errors);
    font-size: .8rem;
    font-weight: 500;
}


input[type="text"]{
    padding: 15px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--Light-grayish-violet);
    transition: .1s;
}

input[type="text"]::placeholder{
    color: var(--Light-grayish-violet);
}

input[type="text"]:not(:placeholder-shown){
    border-color: var(--active-input-border)
}

input[type="submit"]{
    background-color: var(--Very-dark-violet);
    border: none;
    color: var(--White);
    height: 50px;
    border-radius: 5px;
    font-size: 1rem;
    transition: .3s;
}

input[type="submit"]:hover{
    background-color: var(--Dark-grayish-violet);
}
 
/*when form is complete*/
#completeForm{
    margin-top: 90px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 30px;
}

#completeForm button{
    background-color: var(--Very-dark-violet);
    border: none;
    color: var(--White);
    height: 50px;
    border-radius: 5px;
    font-size: 1rem;
    align-self:  stretch;
    margin-top: 10px;
    margin-top: 10px;
    transition: .2s;
}

#completeForm button:hover{
    background-color: var(--Dark-grayish-violet);
}

#completeForm p{
    color: var(--Dark-grayish-violet);
}


/*media queries*/

@media (min-width:1170px) {
    body{
        flex-direction: row;
        --card-width: 446px;
    }
    #preview{
        background-image: url(./images/bg-main-desktop.png);
        width: calc(100vw / 5);
        min-width: 330px;
        height: 650px;
        min-height: 100vh;
    }
    form{
        align-items: center;
        margin-left: 100px;
        margin: 0 auto;
    }
    
    #front-wrapper{
        right: -130px;
        top: 80px;
        bottom: unset;
        left: unset;
    }
    
    
    #back-wrapper{
        left: unset;
        top: 370px;
        bottom: unset;
        right: -225px;
    }
    
    #completeForm{
        margin: 0 auto;
    }
    #front #number-card{
        font-size: 1.7rem;
    }
    #front #name-card, #front #exp-card{
        font-size: 1rem;
    }
    #back p{
        font-size: 1.1rem;
    }
}
